.form-group,
.row {
  margin-bottom: 10px;
}

label {
  width: 100%;
}

li.list-group-item {
  display: flex;
  align-items: center;
}

.delete-modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.clock {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
