.form-group,
.row {
  margin-bottom: 10px;
}

label {
  width: 100%;
}

li.list-group-item {
  display: flex;
  align-items: center;
}

.delete-modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.loading-modal {
  background-color: #fff;
  padding: 10px 100px;
  border-radius: 5px;
}

.basicLightbox {
  background-color: rgba(0, 0, 0, 0.1);
}
